

body {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.jumbotron {
    background-color: white;
    size: 100px;
    padding-bottom: 0%;
}

#footer {
    background-color: rgb(238, 227, 230);
}